.input-container {
    &.layout {
        width: 100%;
        background-color: #333333;
        border-radius: 0.5rem;
        padding: 0.75rem;
    }
    .token-info-container {
        flex-direction: row;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .input-div {
        width: 30%;
    }

    .input-body {
        background-color: #b7c48e;
        border: none;
        outline: none;
        font-family: "TelegrafBolder";
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.5rem;
        padding: 0.75rem;
        width: 100%;
        border-radius: 0.5rem;
        width: 100%;
    }

    .conversion-div {
        width: 30%;
    }

    .usd-conversion {
        font-family: "TelegrafBolder";
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.5rem;
        width: 100%;
        color: #5c6247;
    }

    .ant-select-selector {
        width: 30%;
        background-color: #5d5c5d;
    }

    .token-select-container {
        width: 30%;
        background-color: #5d5c5d;
        border-radius: 14px;
        padding: 0rem 0.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .down-icon {
        height: 0.5rem;
        width: 0.5rem;
    }

    .divider-token {
        border: 1px solid #ffffff16;
        width: 100%;
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
    }

    .token-input {
        font-family: "TelegrafBolder";
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.5rem;
        background: transparent;
        border: none;
        outline: none;
        color: #ecffb8;
    }

    .token-input::placeholder {
        color: #848f6d;
        font-family: "TelegrafBolder";
        font-style: normal;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .token-input-container {
        display: flex;
        flex-direction: row;
    }
}
