.backdrop {
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    padding-left: 6%;
    display: flex;
    justify-content: flex-end;
    height: 100%;
}
.header {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.modal {
    width: 27vw;
    background: white;
    min-height: 60vh;
    background: #ffffff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.06),
        0px 0px 20px rgba(0, 0, 0, 0.12);
    border-radius: 0.5rem;
    max-height: 70vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding: 1.5rem 1.125rem 1.5rem 1.25rem;
    position: absolute;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.modal::-webkit-scrollbar {
    display: none;
}

.greyedText {
    color: #808080;
    text-align: start;
}
.usdText {
    color: #808080;
}
.alignText {
    text-align: start;
    width: 60%;
}

.requestItem {
    width: 100%;
    padding: 1.5rem;
    border-bottom: 1px solid #e0e0ee;
    display: flex;
    flex-direction: column;
}

.cancel {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1rem;
    background-color: #efefef;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.cancel:hover {
    width: 9rem;
    position: absolute;
    justify-content: space-between;
    padding: 0.25rem 0.5rem 0.25rem 0.375rem;
}
.infoContainer {
    /* position: static; */
    padding-left: 5.6%;
    flex-direction: row;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.tokenDiv {
    min-width: 9.375rem;
    /* background: red; */
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}

.payBtn {
    padding: 0.5rem 1.875rem 0.5rem 1.875rem;
    background: #6852ff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.16);
    border-radius: 1.25rem;
    font-family: "TelegrafBolder";
    font-style: normal;
    font-weight: 800;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #ffffff;
    min-width: 40%;
}

.btnCnt {
    position: absolute;
    bottom: 2rem;
    width: 36vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cross {
    height: 0.875rem;
    width: 0.875rem;
    margin-bottom: 1.563rem;
}

.addToken {
    border: 1px solid #eeeef0;
    border-left: 0rem;
    border-right: 0rem;
    padding: 1rem;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0rem;
    cursor: pointer;
}

.plus {
    width: 1.5rem;
    height: 1.5rem;
}

.inputContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #eeeef0;
    border-radius: 0.5rem;
    padding: 0.75rem 0rem 0.75rem 1rem;
}

.amountInput {
    width: 70%;
    background-color: white;
    border: 0;
    /* border-radius: 0rem 0.5rem 0.5rem 0rem; */
    font-family: "TelegrafBolder";
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.5rem;
    padding-left: 1rem;
    height: 100%;
}
.amountInput::placeholder {
    font-family: "TelegrafMedium";
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.5rem;
}
.amountInput:focus {
    border: 1px #6852ff solid;
    border: 0rem;
    outline: none;
    /* background-color: #E1DCFF; */
}

.buttonContainer {
    width: 100%;
    background: #6852ff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.16);
    border-radius: 1.5rem;
    padding: 0.5rem 2.125rem 0.5rem 2.125rem;
    width: 11.25rem;
    bottom: 0;
    display: flex;
    align-self: center;
    margin-top: 2.5rem;
}

.textArea {
    width: 100%;
    border-radius: 0.5rem;
    /* background-color: #7A7A7A; */
    font-family: "TelegrafMedium";
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #333333;
    outline: none;
    padding: 1rem;
    height: 100%;
    border: 1px solid #e0e0ee;
}
.textArea::placeholder {
    font-family: "TelegrafMedium";
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #808080;
}
.textArea:focus {
    outline: none;
    border: 1px solid #6852ff;
}
