.community-screen-container {
    color: #fff;
    .member-row {
        display: flex;
        justify-content: space-between;
        font-family: "TelegrafMedium";
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.5rem;
        padding: 1rem 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.16);
        align-items: center;
        padding: 1rem 0.75rem;
        .member-info {
            color: rgba(255, 255, 255, 0.5);
        }
        .member-badge {
            // background-color: rgba(255, 178, 46, 0.2);
            background-color: #333333;
            padding: 0.25rem 1.5rem;
            border-radius: 6.25rem;
        }
        .member-badge > div {
            color: white;
        }
        .member-name {
            font-family: "TelegrafMedium";
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #ffffff;
        }
    }
    .member-row:hover {
        background-color: #1e1e1f;
        border: 0;
        border-radius: 1rem;
    }
}
