.community-screen-container {
    color: #fff;
    .contribution-row {
        display: flex;
        justify-content: space-between;
        font-family: "TelegrafMedium";
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.5rem;
    }
}
