.container{
    min-width: 26%;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.16);
    border-radius: 0.5rem;
    flex-direction: row;
    display: flex;
    position: absolute;
    bottom: 2rem;
    background: #1D7F60;
}

.infoContainer{
    padding: 0.5rem 0rem 0.5rem 1rem;
}