.contribution-request-container.backdrop {
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-left: 6%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contribution-request-container .modal {
  width: 44vw;
  background: white;
  min-height: 80.33%;
  background: #ffffff;
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.06), 0px 0px 20px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.06), 0px 0px 20px rgba(0, 0, 0, 0.12);
  border-radius: 1.25rem;
  padding: 2.5rem 2rem 2rem 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contribution-request-container .contribution-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.contribution-request-container .contribution-body .contribution-title-input-wrapper {
  width: 100%;
}

.contribution-request-container .contribution-body .contribution-title-input-wrapper input {
  width: 100%;
}

.contribution-request-container .contribution-body .rowInput {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

.contribution-request-container .contribution-body .rowInput .contribution-time-input-wrapper,
.contribution-request-container .contribution-body .rowInput .external-link-input-wrapper {
  width: 48%;
}

.contribution-request-container .contribution-body .rowInput .contribution-time-input-wrapper .numberInput {
  width: 100%;
  border: 1px solid #eeeef0;
  border-radius: 0.5rem;
  color: black;
  padding: 1rem;
  font-family: "TelegrafMedium";
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  outline: none;
}

.contribution-request-container .contribution-body .rowInput .contribution-time-input-wrapper .ant-input-number-focused {
  border: 1px solid #6852ff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.contribution-request-container .contribution-body .rowInput .contribution-time-input-wrapper .ant-input-number:hover {
  border: 1px solid #eeeef0;
}

.contribution-request-container .contribution-body .rowInput .contribution-time-input-wrapper .ant-input-number:hover.ant-input-number-focused {
  border: 1px solid #6852ff;
}

.contribution-request-container .contribution-body .rowInput .contribution-time-input-wrapper .ant-input-number:focus {
  border: 1px solid #6852ff;
}

.contribution-request-container .contribution-body .rowInput .contribution-time-input-wrapper .ant-input-number-handler-wrap {
  display: none;
}

.contribution-request-container .contribution-body .rowInput .contribution-time-input-wrapper .ant-input-number-input {
  height: auto;
}

.contribution-request-container .contribution-body .rowInput .contribution-time-input-wrapper .ant-input-number-input::-webkit-input-placeholder {
  color: #999;
  padding: 0;
}

.contribution-request-container .contribution-body .rowInput .contribution-time-input-wrapper .ant-input-number-input:-ms-input-placeholder {
  color: #999;
  padding: 0;
}

.contribution-request-container .contribution-body .rowInput .contribution-time-input-wrapper .ant-input-number-input::-ms-input-placeholder {
  color: #999;
  padding: 0;
}

.contribution-request-container .contribution-body .rowInput .contribution-time-input-wrapper .ant-input-number-input::placeholder {
  color: #999;
  padding: 0;
}

.contribution-request-container .contribution-body .rowInput .external-link-input-wrapper input {
  width: 100%;
}

.contribution-request-container .contribution-body .rowInput .external-link-input-wrapper.external-link-error input {
  border: 1px solid red;
  background-color: #fff;
}

.contribution-request-container .contribution-body .contribution-type-input-wrapper {
  width: 100%;
}

.contribution-request-container .contribution-body .contribution-type-input-wrapper .select-input .select__control {
  width: 100%;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: transparent;
  border: 1px solid #eeeef0;
}

.contribution-request-container .contribution-body .contribution-type-input-wrapper .select-input .select__control.select__control--is-focused, .contribution-request-container .contribution-body .contribution-type-input-wrapper .select-input .select__control.select__control--menu-is-open {
  border: 1px solid #6852ff;
}

.contribution-request-container .contribution-body .contribution-type-input-wrapper .select-input .select__control .select__placeholder {
  font-family: "TelegrafMedium";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
}

.contribution-request-container .contribution-body .contribution-type-input-wrapper .select-input .select__control .select__single-value {
  font-family: "TelegrafMedium";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  width: 100%;
  color: black;
  text-align: left;
}

.contribution-request-container .contribution-body .contribution-type-input-wrapper .select-input .select__menu {
  width: 100%;
}

.contribution-request-container .contribution-body .contribution-type-input-wrapper .select-input .select__menu .select__option {
  font-family: "TelegrafMedium";
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.1rem;
  width: 100%;
  color: black;
  text-align: left;
}

.contribution-request-container .contribution-body .text-area-wrapper {
  height: 7.25rem;
  width: 100%;
  margin-top: 1rem;
  position: relative;
  border: 1px solid #eeeef0;
  border-radius: 0.5rem;
  background: white;
}

.contribution-request-container .contribution-body .text-area-focused {
  border: 1px solid #6852ff;
}

.contribution-request-container .contribution-body .text-area-dark {
  background: #e1dcff;
}

.contribution-request-container .contribution-body .timeDark {
  background-color: #e1dcff;
}

.contribution-request-container .contribution-body .selectDark {
  background-color: #e1dcff;
  border-radius: 0.5rem;
}

.contribution-request-container .contribution-body .cross {
  width: 1.125rem;
  height: 1.125rem;
  margin-bottom: 2.5rem;
  cursor: pointer;
  /* align-self: flex-start; */
}

.contribution-request-container .contribution-body .heading {
  font-family: "TelegrafMedium";
  font-style: normal;
  font-weight: normal;
  font-size: 3rem;
  line-height: 3rem;
  text-align: start;
  margin-bottom: 3rem;
}

.contribution-request-container .buttonSubmit {
  width: 50.11%;
  padding: 0.625rem 1rem 0.625rem 1.5rem;
  background: #6852ff;
  margin-top: 3.438rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  /* border-radius: ; */
}

.contribution-request-container .greyedText {
  font-family: "TelegrafBolder";
  font-style: normal;
  font-weight: 800;
  font-size: 1.313rem;
  line-height: 1.75rem;
  color: #b4a8ff;
}

.contribution-request-container .validText {
  font-family: "TelegrafBolder";
  font-style: normal;
  font-weight: 800;
  font-size: 1.313rem;
  line-height: 1.75rem;
  color: white;
}

.contribution-request-container .textArea {
  width: 100%;
  border-radius: 0.5rem;
  font-family: "TelegrafMedium";
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  color: black;
  outline: none;
  padding: 1rem;
  height: 4rem;
  border: 0;
  background: transparent;
}

.contribution-request-container .textArea::-webkit-input-placeholder {
  font-family: "TelegrafMedium";
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #808080;
}

.contribution-request-container .textArea:-ms-input-placeholder {
  font-family: "TelegrafMedium";
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #808080;
}

.contribution-request-container .textArea::-ms-input-placeholder {
  font-family: "TelegrafMedium";
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #808080;
}

.contribution-request-container .textArea::placeholder {
  font-family: "TelegrafMedium";
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #808080;
}
/*# sourceMappingURL=styles.css.map */