button {
  background: #000000;
  border: 1px solid rgba(40, 44, 63, 0.2);
  box-sizing: border-box;
  box-shadow: 0px 3px 8px rgba(40, 44, 63, 0.08);
  border-radius: 28px;
  color: #fff;
  padding: 6px 20px 8px 20px;
  align-items: center;
  font-family: 'TelegrafMedium';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  width: 275px;
}

/* button > span:first-child {
  margin-right: 1.25rem;
} */

.greyedText {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  font-family: 'TelegrafMedium';
  color: #A3A3A3;
  align-self: center;
}

.disabled {
  background: #808080;
}

.whiteText{
  color: #FFFFFF;
  opacity: 0.56;
  font-size: 16px;
  align-self: center;
}

.whiteIcon{
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  font-family: 'TelegrafMedium';
  color: #FFFFFF;
}
.icon{
  align-self: center;
  justify-content: center;
  margin-top: 4px;
}

.btnCtn{
  width:275px; 
  padding:10px 16px 12px 20px; 
  background:black;
  align-self: center;
  border-radius: 40px;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}

.btnCtnGreyed{
  width:275px; 
  padding:8px 10px 8px 20px; 
  background: #808080;
  align-items: center;
  border-radius: 40px;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
}