.address {
    font-family: "TelegrafMedium";
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.25rem;
    color: white;
    margin-right: 0.5rem;
}
.walletCnt {
    align-items: center;
    padding: 0rem 0.5rem 0rem 0.5rem;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.icon {
    height: 0.5rem;
    width: 0.75rem;
}

.testnet {
    color: #ffb22e;
    margin-right: 1rem;
}

.container {
    display: flex;
    flex-direction: row;
}
.disconnectDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0rem 1rem 0rem 1rem;
    align-items: center;
    text-align: start;
}
.disconnectDiv > div {
    display: flex;
    flex-direction: row;
}
.addrContainer {
    align-items: center;
    display: flex;
}
