.container {
    padding: 3.5rem 1.5rem 0rem 1.5rem;
}

.payoutContainer {
    margin-top: 1.5rem;
    background-color: #1f1f1f;
    border-radius: 0.75rem;
    padding: 1.25rem 1rem;
}

.flex_totalPayout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.divider {
    /* position: absolute; */
    right: 0;
    left: 0;
    height: 1px;
    background: #3a3a3a;
}

.contributionContainer {
    margin-top: 1rem;
    border: 1px solid #292929;
    border-radius: 0.75rem;
}

.overviewText {
    font-family: "TelegrafMedium";
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 2rem;
    color: rgba(255, 255, 255, 0.4);
    text-align: left;
    margin-top: 1.5rem;
}

.badgeOverview {
    background: #1f1f1f;
    border-radius: 12px;
    overflow: hidden;
    margin-top: 1.5rem;
    font-family: "TelegrafMedium";
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #fff;
    text-align: left;
}
.badgeImage {
    width: 100%;
    border-radius: 12px;
}
.toggleContent {
    max-height: 0;
    transition: all 0.2s ease-in-out;
}
.toggleContentShown {
    max-height: 8rem;
}
.lineBreak {
    border-top: 1px solid rgba(255, 255, 255, 0.16);
    margin: 0 1.25rem;
}
.toggleContentRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.25rem;
    text-decoration: underline;
    cursor: pointer;
}
.toggleContentRow:hover {
    background: rgba(255, 255, 255, 0.1);
}
.toggleHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.25rem;
}
