.heading{
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  font-size: 53px;
  line-height: 56px;
}

.greyHeading{
  font-family: Inter;
  font-style: normal;
  font-weight: 800;
  font-size: 53px;
  line-height: 56px;
  color: #999999;
}

.walletName{
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
  margin-left: 12px;
}

.walletCnt{
    display: flex;
    width: 100%;
    border: 1px solid #e0e0e0;
    padding: 12px;
    border-left-width: 0;
    border-right-width: 0;
    /* border-bottom-width: 0; */
    justify-content: space-between;
    cursor: pointer;
    margin-top: 40px;
}

.walletCntAuth{
  display: flex;
  width: 100%;
  border: 1px solid #e0e0e0;
  padding: 12px;
  border-left-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  cursor: pointer;
  margin-top: 40px;
  /* background: red; */
}

.walletLogo{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.addresCnt{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 12px;
  /* background: blue; */
  /* border: 1px solid #e0e0e0; */
}

.address{
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.disconnectLink{
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
}

.rightContainer{
  width: 100%;
}
.authHeading{
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 32px;
}

.authGreyHeading{
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 32px;
  color: #999999;
}

.authBtn{
  background: black;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  margin-top: 20px;
  border-radius: 30px;
}

.btnTextAuth{
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: white;
}