.container{
    width: 100%;
    border: 1px solid #292929;
    padding: 1rem 1rem 1rem 2.75rem;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.text{
    color: #808080;
    text-align: start;
}

.whiterText{
    color: white;
    text-align: start;
}
.whiterText:hover{
    font-family: 'TelegrafBolder';
    font-size: 1rem;
    line-height: 1.5rem;
    color: white;
    text-align: start;
}
.menuContainer{
    margin-bottom: 0.5rem;
}
.menuContainer:hover{
    background-color: #4C4C4C;
}
.menu{
    font-family: 'TelegrafMedium';
    font-size: 1rem;
    line-height: 1.5rem;
    color: white;
    text-align: start;
    width: 100%;
    height: 100%;
}
.menuContainer>div{
    font-family: 'TelegrafMedium';
    font-size: 1rem;
    line-height: 1.5rem;
    color: white;
    text-align: start;
}
.menu:hover{
    font-family: 'TelegrafBolder';
    font-size: 1rem;
    line-height: 1.5rem;
    color: white;
    text-align: start;
}