.community-side-card-container {
    padding: 1.5rem;
    height: 100%;
    color: #fff;
    font-family: "TelegrafMedium";
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: left;
    .member-addr {
        font-family: "TelegrafBolder";
        font-style: normal;
        font-weight: 800;
        font-size: 1.438rem;
        line-height: 2rem;
        color: #ffffff;
        opacity: 0.5;
    }
    &.not-selected-container {
        display: flex;
        align-items: center;
        font-size: 1.75rem;
        line-height: 2.25rem;
        color: rgba(255, 255, 255, 0.4);
    }
    .selected-member-wrapper {
        .member-name {
            margin-top: 3rem;
            font-family: "TelegrafBolder";
            font-style: normal;
            font-weight: 800;
            font-size: 1.5rem;
            line-height: 2rem;
        }
        .membership-info {
            margin-top: 1.5rem;
            // display: flex;
            background: #1f1f1f;
            border-radius: 0.75rem;
            overflow: hidden;
        }
        .member-image {
            width: 100%;
        }

        .badge-info {
            width: 100%;
            padding: 1.5rem 1rem;
            border-radius: 0rem 0rem 0.75rem 0.75rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .level-name {
            font-family: "TelegrafBolder";
            font-style: normal;
            font-weight: 800;
            font-size: 19px;
            line-height: 28px;
            color: #ffffff;
        }
        .level-time {
            font-family: "TelegrafMedium";
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            /* identical to box height, or 150% */

            color: #ffffff;
        }
    }

    .change-level-container {
        border: #ecffb8 1px solid;
        border-radius: 2rem;
        padding: 0.25rem 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .change-text {
        font-family: "TelegrafMedium";
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        color: #ecffb8;
    }
}
