.community-side-card-container {
    padding: 1.5rem;
    height: 100%;
    color: #fff;
    font-family: "TelegrafMedium";
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: left;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
    .member-addr {
        font-family: "TelegrafBolder";
        font-style: normal;
        font-weight: 800;
        font-size: 1.438rem;
        line-height: 2rem;
        color: #ffffff;
        opacity: 0.5;
    }
    &.not-selected-container {
        display: flex;
        align-items: center;
        font-size: 1.75rem;
        line-height: 2.25rem;
        color: rgba(255, 255, 255, 0.4);
    }
    .selected-member-wrapper {
        // background-color: red;
        // position: absolute;
        // bottom: 1.5rem;
        // top: 1.5rem;
        // left: 1.5rem;
        // right: 1.5rem;
        .member-name {
            margin-top: 3rem;
            font-family: "TelegrafBolder";
            font-style: normal;
            font-weight: 800;
            font-size: 1.5rem;
            line-height: 2rem;
        }
        .membership-info {
            margin-top: 1.5rem;
            // display: flex;
            background: #1f1f1f;
            border-radius: 0.75rem;
            overflow: hidden;
        }
        .member-image {
            width: 100%;
        }

        .badge-info {
            width: 100%;
            padding: 1.5rem 1rem;
            border-radius: 0rem 0rem 0.75rem 0.75rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .level-name {
            font-family: "TelegrafBolder";
            font-style: normal;
            font-weight: 800;
            font-size: 19px;
            line-height: 28px;
            color: #ffffff;
        }
        .level-time {
            font-family: "TelegrafMedium";
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            /* identical to box height, or 150% */

            color: #ffffff;
        }
    }
    .mint-btn-wrapper {
        position: absolute;
        bottom: 1.5rem;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        .mint-btn {
            padding: 10px 2rem;
            background-color: white;
            width: 150px;
            border-radius: 2rem;
            cursor: pointer;
            div {
                font-family: "TelegrafBold";
                font-style: normal;
                font-weight: 800;
                font-size: 14px;
                line-height: 20px;
                color: #000000;
            }
        }
    }

    .change-level-container {
        border: #ecffb8 1px solid;
        border-radius: 2rem;
        padding: 0.25rem 0.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .change-text {
        font-family: "TelegrafMedium";
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
        color: #ecffb8;
    }
    .socialContainer {
        padding: 1.5rem 0 1.5rem 1.25rem;
        width: 100%;
        position: absolute;
        left: 0;
        display: flex;
        justify-content: flex-start;
        border: 1px solid #21212b;
        bottom: 0;
        align-items: center;
        font-family: "TelegrafMedium";
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.25rem;
        cursor: pointer;
    }
    .socialText {
        color: white;
        margin-left: 0.75rem;
        align-self: center;
    }

    .contribution-wrapper {
        margin-top: 1.25rem;
        max-height: 5rem;
        background: #1f1f1f;
        border-radius: 12px;
        padding: 1.5rem 0;
        font-family: "TelegrafMedium";
        font-style: normal;
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 1.25rem;
        color: #fff;
        overflow-y: hidden;
        &.contribution-shown {
            max-height: unset;
        }
        .contribution-overview {
            display: flex;
            justify-content: space-between;
            width: calc(100% - 2rem);
            padding-bottom: 1.25rem;
            margin: 0 1rem;
            border-bottom: 1px solid rgba(255, 255, 255, 0.16);
            .overview-left {
                .total-contri {
                    font-family: "TelegrafBolder";
                    font-style: normal;
                    font-weight: 800;
                }
            }
            .overview-right {
                cursor: pointer;
                img {
                    width: 1.5rem;
                }
            }
        }
        .contributions-detailed {
            .contribution-row {
                display: flex;
                justify-content: space-between;
                padding: 1.25rem 1rem;
                border-bottom: 1px dashed rgba(255, 255, 255, 0.16);
                border-left: 4px solid rgba(217, 217, 217, 0.12);

                &:last-of-type {
                    border-bottom: 0;
                    padding-bottom: 0;
                }
                .contri-row-left {
                    width: 59%;
                    color: rgba(255, 255, 255, 0.5);
                    .contri-title {
                        color: rgba(255, 255, 255, 0.75);
                    }
                }
                .contri-row-right {
                    width: 39%;
                    display: flex;
                    justify-content: flex-end;
                    align-items: flex-start;
                    img {
                        width: 1.5rem;
                        margin-left: 0.75rem;
                    }
                }
                &:hover {
                    cursor: pointer;
                    border-left: 4px solid #fff;
                    .contri-row-left {
                        color: #fff;
                        .contri-title {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}
