.treasury-details-container {
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    font-family: "TelegrafMedium";
    .treasury-info-wrapper {
        background: rgba(0, 0, 0, 0.13);
        border: 1px solid rgba(255, 255, 255, 0.16);
        border-radius: 16px;
        margin-top: 2rem;
        overflow: hidden;
        .safe-info-wrapper {
            background: #242424;
            border-radius: 0 0 16px 16px;
            display: flex;
        }
        .safe-details {
            padding: 2rem 2rem 2.5rem;
            flex: 2.4;
            .safe-name-and-avatar-wrapper {
                display: flex;
                align-items: center;
                .safe-avatar {
                    margin-right: 1.25rem;
                    width: 4rem;
                    height: 4rem;
                    border-radius: 50%;
                    background-color: pink;
                }
                .safe-name-and-address {
                    text-align: left;
                    .safe-name {
                        margin-bottom: 0.25rem;
                        text-align: left;
                    }
                    .safe-address {
                        font-size: 3rem;
                        line-height: 3.5rem;
                        text-align: left;
                    }
                }
            }
            .safe-links {
                display: flex;
                align-items: center;
                margin-left: 5.25rem;
                margin-top: 1.5rem;
                opacity: 0.5;
                .separator {
                    margin: 0 1rem;
                }
                .link {
                    cursor: pointer;
                }
                .link:hover {
                    text-decoration: underline;
                }
            }
        }
        .safe-owner-details {
            flex: 1;
            border-left: 1px solid rgba(255, 255, 255, 0.16);
            padding: 2rem 1.5rem;
            .safe-owner-heading {
                margin-bottom: 1rem;
                text-align: left;
            }
            .owner-row {
                display: flex;
                justify-content: space-between;
                margin-bottom: 0.5rem;
                font-size: 14px;
                line-height: 20px;
                .owner-name {
                    color: rgba(255, 255, 255, 0.76);
                }
                .owner-address {
                    color: rgba(255, 255, 255, 0.5);
                }
            }
            .more-signers {
                text-decoration: underline;
                color: rgba(255, 255, 255, 0.76);
                text-align: left;
                cursor: pointer;
            }
            .manage-signers {
                text-align: left;
                font-size: 0.875rem;
                line-height: 1.25rem;
                font-family: "TelegrafMedium";
                a {
                    text-decoration: underline;
                    color: #fff;
                }
            }
        }
        .treasury-tokens-info {
            .treasury-tokens-nav {
                border-bottom: 1px solid rgba(255, 255, 255, 0.16);
                padding: 1.25rem 1.25rem 1.25rem 0;
                color: rgba(255, 255, 255, 0.5);
                margin: 0 3rem 0 2rem;
                display: flex;
                .nav-link {
                    margin-right: 1.5rem;
                    cursor: pointer;
                }
                .active-link {
                    color: #fff;
                }
            }
            .token-details-wrapper {
                padding: 1.75rem 0 0;
                position: relative;
                .scroll-shim {
                    position: absolute;
                    width: 100%;
                    bottom: 0;
                    height: 3.75rem;
                    background: linear-gradient(
                        180deg,
                        rgba(0, 0, 0, 0) 0%,
                        #000000 100%
                    );
                    border-radius: 16px;
                }
                .token-details-row {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 1rem;
                    .token-details-right {
                        display: flex;
                        div {
                            width: 13rem;
                            text-align: right;
                        }
                    }
                }
                .token-details-header {
                    color: rgba(255, 255, 255, 0.4);
                    padding: 0 3rem 0 2rem;
                }
                .token-details-usd-wrapper {
                    max-height: 9rem;
                    overflow-y: auto;
                    scrollbar-width: thin;
                    scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
                    padding: 0 3rem 0 2rem;
                }

                /* Works on Chrome, Edge, and Safari */
                .token-details-usd-wrapper::-webkit-scrollbar {
                    width: 6px;
                }

                .token-details-usd-wrapper::-webkit-scrollbar-track {
                    background: transparent;
                    margin: 1rem 0;
                    border-radius: 1rem;
                }

                .token-details-usd-wrapper::-webkit-scrollbar-thumb {
                    background-color: rgba(255, 255, 255, 0.2);
                    border-radius: 20px;
                }

                .view-on-gnosis {
                    color: rgba(255, 255, 255, 0.5);
                    margin: 2rem 0 1.5rem;
                    text-align: left;
                    display: block;
                    cursor: pointer;
                    position: relative;
                    z-index: 2;
                }
                .view-on-gnosis:hover {
                    text-decoration: underline;
                }
                .all-nfts-wrapper {
                    display: grid;
                    width: 100%;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    column-gap: 3%;
                    padding: 0 3rem 2rem 2rem;
                    max-height: 11rem;
                    overflow-y: auto;
                    scrollbar-width: thin;
                    scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
                    .nft {
                        // width: 24%;
                        position: relative;
                        overflow: hidden;
                        border-radius: 12px;
                        margin-bottom: 1rem;
                        cursor: pointer;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            aspect-ratio: 1/1;
                        }
                        .nft-name {
                            position: absolute;
                            width: 100%;
                            bottom: 0;
                            background: rgba(0, 0, 0, 0.2);
                            backdrop-filter: blur(50px);
                            padding: 0.75rem 0.5rem;
                            font-family: "TelegrafMedium";
                            font-size: 14px;
                            line-height: 20px;
                            border-radius: 0 0 12px 12px;
                        }
                    }

                    /* Works on Chrome, Edge, and Safari */
                }
                .all-nfts-wrapper::-webkit-scrollbar {
                    width: 6px;
                }

                .all-nfts-wrapper::-webkit-scrollbar-track {
                    background: transparent;
                    margin: 1rem 0;
                    border-radius: 1rem;
                }

                .all-nfts-wrapper::-webkit-scrollbar-thumb {
                    background-color: rgba(255, 255, 255, 0.2);
                    border-radius: 20px;
                }
            }
        }
    }

    .treasury-transactions-wrapper {
        margin-top: 1.5rem;
        border-top: 1px solid rgba(255, 255, 255, 0.16);
        .payment-cards-wrapper {
            margin-bottom: 100px;
        }
    }
}
