/* .nav {
    text-align: left;
    margin-left: 15%;
    padding-top: 1.5rem;
    font-size: 16px;
  }
  .nav > span {
    color: #fff;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  } */
.headerCnt {
    width: 72vw;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
}
.headerName {
    font-family: "TelegrafBolder";
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.5rem;
    color: azure;
}
