.container {
    width: 100%;
    height: 100%;
    padding: 2rem 1.5rem 0rem 1.5rem;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    /* position: relative; */
}
.container::-webkit-scrollbar {
    display: none;
}

.cross {
    height: 1rem;
    width: 1rem;
    margin-bottom: 3.13rem;
}

.delete {
    height: 1rem;
    width: 1rem;
    /* margin-bottom: 3.13rem; */
}

.title {
    color: white;
    text-align: start;
    width: 70%;
    /* max-lines: 2; */
}

.ownerInfo {
    color: white;
    /* text-align: start; */
}

.timeInfo {
    text-align: start;
    margin-bottom: 1.5rem;
    color: #737373;
}

.description {
    color: #737373;
    text-align: start;
    margin-bottom: 1.5rem;
    margin-left: 2.625rem;
}

.addToken {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px #292929 solid;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    align-items: center;
}
.addToken > div {
    color: #808080;
}

.feedBackContainer {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.feedBackContainer > div {
    color: #808080;
}

.add {
    color: #808080;
    height: 0.875rem;
    width: 0.875rem;
}

.payNow {
    padding: 0.5rem 1.25rem 0.5rem 1.25rem;
    background: white;
    border-radius: 1.5rem;
    background: #ffffff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.16);
    display: flex;
    align-self: center;
    cursor: pointer;
}
.payNow:hover {
    background-color: #e1dcff;
}
.payNow > div {
    color: #6852ff;
}

.amountScroll {
    width: 100%;
    /* max-height: 6.25rem; */
    /* overflow-y: scroll; */
    margin-bottom: 2px;
}

.buttonTile {
    color: #808080;
}

.textArea {
    width: 100%;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.16);
    border-radius: 0.5rem;
    background-color: #7a7a7a;
    font-family: "TelegrafMedium";
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: white;
    outline: none;
    padding: 1rem;
    min-height: 4.5rem;
    border: 0;
}
.textArea::placeholder {
    font-family: "TelegrafMedium";
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #808080;
}
.textArea:focus {
    outline: none;
    border: 0px;
}
.deleteButton {
    height: 2.5rem;
    border-radius: 2.25rem;
    width: 2.5rem;
    background: #737373;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 0.625rem; */
    /* position: absolute;*/
    bottom: 1.25rem;
}

.bottomContainer {
    position: absolute;
    bottom: 0;
    height: 7.5rem;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.25));
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
}

.deleteContainer {
    height: 2.5rem;
    width: 2.5rem;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.16);
    border-radius: 1.5rem;
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contributorContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1.5rem;
}

.faceIcon {
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 1.125rem;
}

.timelineContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

.buttonContainer {
    width: 100%;
    height: 5rem;
    position: absolute;
    bottom: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 0.75rem;
}
