.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.heading {
  font-family: 'TelegrafBolder';
  font-style: normal;
  font-weight: 800;
  font-size: 3.375rem;
  line-height: 3.5rem;
}

.greyedHeading {
  color: rgba(0, 0, 0, 0.5);
  width: 90%;
  margin-bottom: 5.50%;
}

/* media query */
.ownerContainer {
  max-height: 24%;
  overflow-y: scroll;
}

.ownerRow {
  display: flex;
  justify-content: space-between;
  /* font-family: Inter; */
  /* font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px; */
  color: #000000;
  margin: 1rem 0;
}

.ownerRow > div {
  border: 1px solid #eeeef0;
  width: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}

.nameInput {
  width: 30%;
  padding: 1rem;
  background: #E1DCFF;
  border: none;
  outline: none;
  border-radius: 8px;
  font-size: 1rem;
  line-height: 1.5rem;
  border: 1px solid #eeeef0;
  font-style: normal;
  font-weight: normal;
}

.addressInput {
  width: 60%;
  padding: 1rem;
  background: #E1DCFF;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: 'TelegrafMedium';
  border: 1px solid #eeeef0;
}

.nameInput:focus,
.addressInput:focus {
  border: 1px solid #6852FF;
  background: white;
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: 'TelegrafMedium';
}

.nameInput::placeholder,
.addressInput::placeholder {
  font-family: 'TelegrafMedium';
  color: #000000;
  font-size: 1rem;
  line-height: 1.5rem;
}

/* .ownerRow:nth-of-type(3n + 2) > .nameInput,
.ownerRow:nth-of-type(3n + 2) > .addressInput {
  background: rgba(255, 109, 27, 0.2);
}
.ownerRow:nth-of-type(3n + 2) > .nameInput:focus,
.ownerRow:nth-of-type(3n + 2) > .addressInput:focus {
  border: 1px solid rgba(255, 109, 27, 0.2);
  background: transparent;
}
.ownerRow:nth-of-type(3n + 3) > .nameInput,
.ownerRow:nth-of-type(3n + 3) > .addressInput {
  background: rgba(79, 88, 223, 0.2);
}
.ownerRow:nth-of-type(3n + 3) > .nameInput:focus,
.ownerRow:nth-of-type(3n + 3) > .addressInput:focus {
  border: 1px solid rgba(79, 88, 223, 0.2);
  background: transparent;
} */

.ownerRow > div > img {
  width: 20px;
}

.addOwner {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 24px;
  width: 100%;
  border-top: 1px solid #eeeef0;
  padding: 1.6% 1.8%;
}

.addOwner > img {
  width: 20px;
}

.bottomBar {
  position: absolute;
  bottom: 0;
  /* background: red; */
  width: 100%;
}
