.container {
    width: 100%;
    margin-bottom: 0.75rem;
    flex-direction: row;
    display: flex;
    align-items: center;
    align-self: center;
}

.amountInput {
    width: 100%;
    background-color: #ecffb8;
    border: 0rem;
    border-radius: 0rem 0.5rem 0.5rem 0rem;
    font-family: "TelegrafBolder";
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.5rem;
    padding-left: 1rem;
}
.amountInput::placeholder {
    font-family: "TelegrafMedium";
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.5rem;
}
.amountInput:focus {
    /* border: 1px #ECFFB8 solid ; */
    border: 0rem;
    outline: none;
    background-color: #d3e5a6;
}

.usdAmount {
    color: #6a7253;
}
