.metamask-error-wrapper {
    font-family: "TelegrafBolder";
    font-style: normal;
    font-weight: 800;
    font-size: 53px;
    line-height: 56px;
    .heading {
        color: #000000;
    }
    .sub-heading {
        color: rgba(0, 0, 0, 0.5);
    }
}
