.contributor-contribution-side-card-container {
    width: 100%;
    height: 100%;
    text-align: left;
    // .cross-icon {
    //     position: absolute;
    //     top: ;
    // }
    .contri-title {
        font-family: "TelegrafBolder";
        font-style: normal;
        font-weight: 800;
        font-size: 23px;
        line-height: 2rem;
        color: white;
        width: 12.5rem;
        text-align: start;
        margin-bottom: 1.5rem;
    }
    .contri-badge-wrapper {
        background: #1f1f1f;
        border-radius: 12px;
        .contri-badge {
            position: relative;
            .contri-badge-bg {
                width: 100%;
            }
            .contri-badge-dao {
                position: absolute;
                top: 5%;
                left: 1.25rem;
                font-family: "TelegrafBolder";
                font-weight: 800;
                line-height: 1.5rem;
                font-size: 1.25rem;
                img {
                    width: 2.25rem;
                    border-radius: 50%;
                    margin-right: 0.5rem;
                }
            }
            .contri-badge-contribution-info {
                position: absolute;
                bottom: 0;
                width: 100%;
                .contri-badge-title {
                    font-family: "TelegrafBolder";
                    font-weight: 800;
                    font-size: 2.5rem;
                    line-height: 3.25rem;
                    padding: 0 1.25rem;
                }
                .contri-badge-bottom-row {
                    display: flex;
                    justify-content: space-between;
                    border-top: 1px solid #d9d9d9;
                    padding: 0.75rem 1.25rem;
                    font-family: "TelegrafMedium";
                    font-size: 1rem;
                    line-height: 1.5rem;
                }
            }
        }
        .contri-feedback {
            padding: 1rem;
            font-family: "TelegrafMedium";
            font-size: 0.875rem;
            line-height: 1.25rem;
            color: rgba(255, 255, 255, 0.5);
            text-align: left;
        }
    }
    .contri-payout-info {
        background: #2e3022;
        border-radius: 8px;
        padding: 0.75rem 1rem;
        color: rgba(236, 255, 184, 0.5);
        margin-top: 1.25rem;
        font-family: "TelegrafMedium";
        font-size: 1rem;
        line-height: 1.5rem;
        .highlighted {
            color: rgb(236, 255, 184);
        }
        .token-payout-row {
            display: flex;
            justify-content: space-between;
            border-top: 1px solid rgba(255, 255, 255, 0.12);
            padding: 0.75rem 0 0;
            margin-top: 0.75rem;
        }
        .show-more-or-less {
            text-decoration: underline;
            cursor: pointer;
            margin-top: 0.5rem;
        }
    }

    .contri-info {
        margin-top: 1.25rem;

        .contributor-info {
            font-family: "TelegrafMedium";
            font-style: normal;
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.5rem;
            /* identical to box height, or 150% */
            text-align: start;
            color: #ffffff;
        }
        .contri-type {
            font-family: "TelegrafMedium";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            /* identical to box height, or 150% */
            color: #ffffff;
            text-align: start;
            opacity: 0.5;
        }
        .contri-description {
            font-family: "TelegrafMedium";
            font-style: normal;
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.5rem;
            /* or 150% */
            color: #ffffff;
            text-align: start;
            opacity: 0.5;
            margin-top: 1rem;
        }
        .contri-description-more {
            font-family: "TelegrafMedium";
            font-style: normal;
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.5rem;
            /* or 150% */
            color: #ffffff;
            text-align: start;
            // opacity: 0.5;
        }
    }
    .badge-sign-collapsable {
        .closed-div {
            width: 100%;
            border-top: 1px solid rgba(255, 255, 255, 0.16);
            border-bottom: 1px solid rgba(255, 252, 252, 0.16);
            display: flex;
            flex-direction: row;
            padding: 1.25rem 0rem;
            justify-content: space-between;
            img {
                opacity: 0.5;
            }
            .title {
                font-family: "TelegrafMedium";
                font-style: normal;
                font-weight: 500;
                font-size: 1rem;
                line-height: 1.5rem;
                /* identical to box height, or 150% */
                color: #9fffba;
                img {
                    margin-right: 0.5rem;
                    opacity: 1;
                }
            }
            &.orange-color {
                img {
                    opacity: 1;
                }
                .title {
                    color: #ffc664;
                }
            }
        }
        .signers-info {
            max-height: 0;
            transition: all 0.2s ease-in-out;
        }
        .signers-info-shown {
            max-height: 10rem;
            color: #fff;
            font-family: "TelegrafMedium";
            font-style: normal;
            font-weight: 500;
            font-size: 1rem;
            line-height: 1.5rem;
            padding-top: 0.5rem;
            .signer-row {
                display: flex;
                justify-content: space-between;
            }
            .signer-time {
                color: rgba(0, 0, 0, 0.5);
            }
        }
    }
    .claim-bottom-btn {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 1.5rem 1.5rem 1.25rem 1.5rem;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
        color: #fff;
        font-family: "TelegrafMedium";
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.5rem;
        padding-top: 4rem;

        .claim-btn {
            background-color: white;
            padding: 0.5rem 3.125rem;
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12),
                0px 2px 4px rgba(0, 0, 0, 0.16);
            border-radius: 1.5rem;
            .btn-title {
                font-family: "TelegrafBolder";
                font-style: normal;
                font-weight: 800;
                font-size: 1rem;
                line-height: 1.5rem;
                /* identical to box height, or 150% */
                color: #6852ff;
            }
        }
        .reject-btn {
            font-family: "TelegrafBolder";
            font-style: normal;
            font-weight: 800;
            font-size: 1rem;
            line-height: 1.5rem;
            /* identical to box height, or 150% */
            text-decoration-line: underline;
            color: #ffffff;
        }
    }
}
