.badges-home-screen-container {
    text-align: left;
    .membership-badge-wrapper {
        border-radius: 14px;
        overflow: hidden;
        color: #fff;
        .membership-badge {
            display: flex;
            justify-content: space-between;
            border: 1px solid rgba(255, 255, 255, 0.16);
            overflow: hidden;
            .membership-badge-left {
                display: flex;
                padding: 1.25rem;
                font-family: "TelegrafMedium";
                font-style: normal;
                font-weight: 500;
                font-size: 0.875rem;
                line-height: 1.25rem;
                .membership-badge-heading {
                    font-family: "TelegrafBolder";
                    font-style: normal;
                    font-weight: 800;
                    font-size: 1.75rem;
                    line-height: 2.25rem;
                    margin-bottom: 1rem;
                }
                .badge-and-holder-row {
                    display: flex;
                    margin-bottom: 0.5rem;
                    .badge-holders {
                        margin-left: 1rem;
                        color: rgba(255, 255, 255, 0.5);
                    }
                }
                .membership-badge-buttons {
                    display: flex;
                    margin-top: 1.25rem;
                    align-items: center;
                    button {
                        margin-right: 0.75rem;
                        width: fit-content;
                        background: #6852ff;
                        box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.12),
                            0px 3px 6px rgba(0, 0, 0, 0.08);
                        border-radius: 18px;
                        color: #fff;
                        font-family: "TelegrafBolder";
                        font-style: normal;
                        font-weight: 800;
                        font-size: 14px;
                        line-height: 20px;
                        padding: 0.5rem 1.5rem;
                    }
                    div {
                        background: rgba(255, 255, 255, 0.2);
                        box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.12),
                            0px 3px 6px rgba(0, 0, 0, 0.08);
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 0.375rem;
                        width: 2.25rem;
                        height: 2.25rem;
                        cursor: pointer;
                    }
                }
            }
            .membership-badge-icon {
                margin-right: 1rem;
            }
            .membership-badge-right {
                img {
                    height: 252px;
                    border-radius: 0 14px 14px 0;
                }
            }
        }
        .membership-empty {
            background: rgba(255, 255, 255, 0.2);
            box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.12),
                0px 3px 6px rgba(0, 0, 0, 0.08);
            display: flex;
            padding: 1.5rem;
            font-family: "TelegrafBolder";
            font-style: normal;
            font-weight: 800;
            font-size: 1.75rem;
            line-height: 2.25rem;
            .membership-badge-icon {
                margin-right: 1rem;
            }
            button {
                margin-top: 1.25rem;
                font-size: 0.875rem;
                line-height: 1.25rem;
                color: #6852ff;
                background: #fff;
                width: fit-content;
                padding: 0.5rem 1.5rem;
                cursor: pointer;
            }
        }
    }
    .rest-badges {
        border: 1px solid rgba(255, 255, 255, 0.12);
        border-radius: 0.875rem;
        overflow: hidden;
        font-family: "TelegrafMedium";
        font-style: normal;
        font-weight: 500;
        font-size: 1rem;
        line-height: 1.5rem;
        color: rgba(255, 255, 255, 0.86);
        margin-top: 1.25rem;
        .rest-badge-row {
            display: flex;
            justify-content: space-between;
            padding: 1.25rem;
            border-bottom: 1px solid rgba(255, 255, 255, 0.16);
            align-items: center;
            &:last-of-type {
                border-bottom: 0;
            }
            .badge-row-left {
                display: flex;
                align-items: center;
                img {
                    margin-right: 1rem;
                }
            }
            .badge-row-right {
                color: rgba(255, 255, 255, 0.5);
            }
        }
    }
}
