.logoContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
}

/* .img{
    height:16px; 
    width:24px; 
    align-self:center
} */

.logoHeading {
    font-family: monospace;
    margin-left: 12px;
    color: white;
    align-self: center;
    font-size: 14px;
}

.menuText {
    color: white;
    font-family: monospace;
    font-size: 14px;
}

.menuTextMiddle {
    color: white;
    font-family: monospace;
    font-size: 14px;
    margin-left: 40px;
}

.walletContainer {
    align-self: center;
    padding-right: 8px;
    padding-left: 8px;
    display: flex;
    justify-content: center;
    background: #121219;
}

.rowContainer {
    width: 100%;
    border: 1px solid #21212b;
    padding: 16px;
    background: black;
    justify-content: space-between;
    align-items: center;
}

.walletCol {
    width: 20%;
    align-self: center;
}
.nav {
    text-align: left;
    margin-left: 15%;
    padding-top: 1.5rem;
    font-size: 16px;
}
.nav > span {
    color: #fff;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}
