.approval-selection-body {
    .container {
        background-color: #1f1f1f;
        border-radius: 0.5rem;
        width: 100%;
        padding: 0.875rem 0.75rem;
    }

    .container-active {
        background-color: #1f1f1f;
        border-radius: 0.5rem 0.5rem 0rem 0rem;
        width: 100%;
        padding: 0.75rem;
    }

    .toggle-div {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-self: center;
    }

    .toggle-div-active {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-self: center;
    }

    .toggle-active {
        height: 1.125rem;
        width: 1.125rem;
        border-radius: 0.1rem;
        margin-right: 1rem;
    }

    .toggle-inactive {
        height: 1.125rem;
        width: 1.125rem;
        border-radius: 0.1rem;
        margin-right: 1rem;
        border: 1px solid white;
    }

    .render-active-div {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-items: center;
        border-top: 1px solid #ffffff16;
        align-self: center;
        padding-top: 12px;
        background-color: #1f1f1f;
        padding: 0.75rem;
        width: 100%;
        cursor: pointer;
        border-radius: 0 0 0.5rem 0.5rem;
    }

    .plus-icon {
        height: 1.5rem;
        width: 1.5rem;
        // margin-right: 1.5rem;
    }
    .feedback-container {
        width: 100%;
    }
    .multi-box-container {
        width: 80%;
        border-bottom-right-radius: 0.5rem;
    }

    .remove-feedback {
        width: 100%;
        background-color: #d0e0a2;
        padding: 0.75rem 1rem;
        border-radius: 0 0 0.5rem 0.5rem;
        border-top: 1px solid #00000016;
        cursor: pointer;
    }

    .token-div {
        margin-top: 2rem;
    }

    .pay-token-div {
        background-color: #1f1f1f;
        padding: 0.75rem;
        width: 100%;
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
    }

    .add-token-btn {
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-top: 0.75rem;

        align-items: center;
    }

    .plus-icon {
        height: 1.5rem;
        width: 1.5rem;
    }

    .token-input-div {
        margin-bottom: 0.75rem;
    }
    .ant-switch-unchecked {
        background-color: #4c4d4d;
    }
    .ant-switch-checked {
        background-color: #848f6d;
        border: 0;
    }

    .switch-container {
        width: 20%;
        margin-right: 4%;
        display: flex;
    }

    .feedback-icon-container {
        width: 20%;
        margin-right: 4%;
        display: flex;
    }

    .progress-limit-container {
        position: relative;
        width: 24%;
        background-color: #1f1f1f;
        display: flex;
        align-items: flex-end;
        padding-bottom: 1.375rem;
        padding-left: 1rem;
        border-bottom-left-radius: 1rem;
    }
}
