.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 3rem;
    margin-bottom: 0.75rem;
}

.selectContainer {
    width: 30%;
    height: 100%;
}

.inputContainer {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #eeeef0;
    border-radius: 0rem 0.5rem 0.5rem 0rem;
    padding-right: 1rem;
}

.inputContainerDark {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #a1ae7e;
    border-radius: 0rem 0.5rem 0.5rem 0rem;
    padding-right: 1rem;
    background-color: #ecffb8;
}

.amountInputDark {
    width: 70%;
    background-color: #ecffb8;
    border: 0;
    font-family: "TelegrafBolder";
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.5rem;
    padding-left: 1rem;
    height: 100%;
}
.amountInputDark::placeholder {
    font-family: "TelegrafMedium";
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.5rem;
}
.amountInputDark:focus {
    border: 1px #6852ff solid;
    border: 0rem;
    outline: none;
    background-color: #d2e4a6;
}

.amountInput {
    width: 70%;
    /* background-color: white; */
    border: 0;
    font-family: "TelegrafBolder";
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.5rem;
    padding-left: 1rem;
    height: 100%;
}
.amountInput::placeholder {
    font-family: "TelegrafMedium";
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.5rem;
}
.amountInput:focus {
    border: 1px #6852ff solid;
    border: 0rem;
    outline: none;
    /* background-color: #E1DCFF; */
}
