.membership-creation-step2-container {
    display: flex;
    flex-direction: column;
    min-height: 75vh;
    .membership-heading {
        font-family: "TelegrafBolder";
        font-style: normal;
        font-weight: 800;
        font-size: 2.25rem;
        line-height: 2.5rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        padding: 1.5rem 2rem;
        flex: 0 1 auto;
    }
    .membership-content {
        display: flex;
        flex: 1 1 auto;
        .membership-left,
        .membership-right {
            flex: 1;
            padding-top: 1.5rem;
        }
        .membership-left {
            font-family: "TelegrafMedium";
            font-style: normal;
            font-weight: 500;
            font-size: 1.75rem;
            line-height: 2.25rem;
            padding-left: 2rem;
            .left-bold {
            }
            .left-greyed {
                opacity: 0.5;
            }
        }
        .membership-right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            overflow-y: auto;
            max-height: 64vh;
            padding-right: 2rem;
            .membership-images-wrapper {
                border: 1px solid rgba(0, 0, 0, 0.12);
                border-radius: 16px;
                overflow: hidden;
                .badge-row {
                    display: flex;
                    justify-content: space-between;
                    padding-left: 1.5rem;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
                    height: 4.75rem;
                    align-items: center;
                    font-family: "TelegrafMedium";
                    font-size: 1.25rem;
                    line-height: 1.75rem;
                    &:last-of-type {
                        border-bottom: 0;
                    }
                    .check-mark {
                        margin-right: 0.5rem;
                    }
                    .badge-reupload-wrapper {
                        color: rgba(0, 0, 0, 0.5);
                        font-family: "TelegrafMedium";
                        font-size: 1.25rem;
                        line-height: 1.75rem;
                        .reupload-btn {
                            text-decoration: underline;
                            cursor: pointer;
                            label {
                                cursor: pointer;
                            }
                        }
                    }
                    .badge-image-wrapper {
                        height: 100%;
                        display: flex;
                        align-items: center;
                        img {
                            height: 100%;
                            &.upload-btn {
                                height: 1.5rem;
                                cursor: pointer;
                            }
                        }
                    }
                    .upload-btn {
                        margin-right: 1.5rem;
                    }
                    .upload-file-input-hidden {
                        display: none;
                    }
                }
            }
        }
    }
}
