.contributor-badge-side-card-container {
    color: #fff;
    text-align: left;
    padding: 2rem 1.5rem;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;
    height: 100%;
    overflow-y: auto;
    .cross-icon {
        cursor: pointer;
    }
    .contri-title {
        font-family: "TelegrafBolder";
        font-style: normal;
        font-weight: 800;
        font-size: 23px;
        line-height: 2rem;
        color: white;
        width: 12.5rem;
        text-align: start;
        margin-bottom: 1.5rem;
        margin-top: 3rem;
    }
    .contri-payout-info {
        background: #2e3022;
        border-radius: 8px;
        padding: 0.75rem 1rem;
        color: rgba(236, 255, 184, 0.5);
        margin-top: 1.25rem;
        font-family: "TelegrafMedium";
        font-size: 1rem;
        line-height: 1.5rem;
        .highlighted {
            color: rgb(236, 255, 184);
        }
        .token-payout-row {
            display: flex;
            justify-content: space-between;
            border-top: 1px solid rgba(255, 255, 255, 0.12);
            padding: 0.75rem 0 0;
            margin-top: 0.75rem;
        }
        .show-more-or-less {
            text-decoration: underline;
            cursor: pointer;
            margin-top: 0.5rem;
        }
    }

    .contri-info {
        margin-top: 1.25rem;

        .contributor-info {
            font-family: "TelegrafMedium";
            font-style: normal;
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.5rem;
            /* identical to box height, or 150% */
            text-align: start;
            color: #ffffff;
        }
        .contri-type {
            font-family: "TelegrafMedium";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            /* identical to box height, or 150% */
            color: #ffffff;
            text-align: start;
            opacity: 0.5;
        }
        .contri-description {
            font-family: "TelegrafMedium";
            font-style: normal;
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.5rem;
            /* or 150% */
            color: #ffffff;
            text-align: start;
            opacity: 0.5;
            margin-top: 1rem;
        }
        .contri-description-more {
            font-family: "TelegrafMedium";
            font-style: normal;
            font-weight: 400;
            font-size: 1rem;
            line-height: 1.5rem;
            /* or 150% */
            color: #ffffff;
            text-align: start;
            // opacity: 0.5;
        }
    }
    .badge-sign-collapsable {
        .closed-div {
            width: 100%;
            border-top: 1px solid rgba(255, 255, 255, 0.16);
            border-bottom: 1px solid rgba(255, 252, 252, 0.16);
            display: flex;
            flex-direction: row;
            padding: 1.25rem 0rem;
            justify-content: space-between;
            img {
                opacity: 0.5;
            }
            .title {
                font-family: "TelegrafMedium";
                font-style: normal;
                font-weight: 500;
                font-size: 1rem;
                line-height: 1.5rem;
                /* identical to box height, or 150% */
                color: #9fffba;
                img {
                    margin-right: 0.5rem;
                    opacity: 1;
                }
            }
            &.orange-color {
                img {
                    opacity: 1;
                }
                .title {
                    color: #ffc664;
                }
            }
        }
        .signers-info {
            max-height: 0;
            transition: all 0.2s ease-in-out;
        }
        .signers-info-shown {
            max-height: 10rem;
            color: #fff;
            font-family: "TelegrafMedium";
            font-style: normal;
            font-weight: 500;
            font-size: 1rem;
            line-height: 1.5rem;
            padding-top: 0.5rem;
            .signer-row {
                display: flex;
                justify-content: space-between;
            }
            .signer-time {
                color: rgba(0, 0, 0, 0.5);
            }
        }
    }
}
.contributor-badge-side-card-container::-webkit-scrollbar {
    display: none;
}
