.badges-screen-container {
    height: 100%;
    display: flex;
    flex: 1 1;
    flex-direction: column;
    .badges-screen-header {
        .header-row {
            border: 1px solid #21212b;
            border-right: 0;
            border-left: 0;
            border-top: 0;
            width: 100%;
            padding: 3.5rem 0 1.5rem 0.75rem;
            flex-direction: row;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            align-items: center;
            .row-links {
                display: flex;
                align-items: center;
                .nav-link {
                    font-family: "TelegrafBolder";
                    font-style: normal;
                    font-weight: 800;
                    font-size: 1.438rem;
                    line-height: 2rem;
                    color: #a2a2a3;
                    margin-right: 2rem;
                    cursor: pointer;
                    &.active-nav-link {
                        color: #fff;
                    }
                }
            }
        }
    }
}
