.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.heading {
  font-family: 'TelegrafBolder';
  font-style: normal;
  font-weight: 800;
  font-size: 3.375rem;
  line-height: 3.5rem;
}

.greyedHeading {
  color: rgba(0, 0, 0, 0.5);
  width: 100%;
  margin-bottom: 5.50%;
}

.peopleContainer {
  display: flex;
  flex-wrap: wrap;
  /* margin-top: 2rem; */
}

.highlighted {
  background: #E1DCFF;
  border: 1px solid #6852FF;
}

.peopleDiv {
  border: 1px solid #dcdef9;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 1rem 2.5rem 1rem 1rem;
  margin: 0rem 1rem 0.5rem 0;
  font-family: 'TelegrafMedium' ;
  font-style: normal;
  font-weight: normal;
  font-size: 3.313rem;
  line-height: 3.5rem;
}

.peopleDiv > p {
  margin: 0;
  font-family: 'TelegrafMedium' ;
  font-style: normal;
  font-weight: normal;
  font-size: 1.438rem;
  line-height: 2rem;
}

.bottomBar {
  position: absolute;
  bottom: 0;
  width: 100%;
}
