@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: "TelegrafMedium";
  src: local("TelegrafMedium"),
  url("./assets/fonts/PPTelegraf-Medium.otf") format("opentype");
  font-weight: normal;
}
@font-face {
  font-family: "TelegrafBold";
  src: local("TelegrafBold"),
  url("./assets/fonts/Telegraf-Bold.otf") format("opentype");
  font-weight: bold;
}
@font-face {
  font-family: "TelegrafBolder";
  src: local("TelegrafBolder"),
  url("./assets/fonts/Telegraf-UltraBold.otf") format("opentype");
  font-weight: bolder;
}
@font-face {
  font-family: "ArrayBold";
  src: local("ArrayBold"),
  url("./assets/fonts/Array-Bold.otf") format("opentype");
  font-weight: bold;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}
