.treasury-side-card-container {
    padding: 1.5rem;
    .heading {
        font-weight: 800;
        font-size: 1.5rem;
        line-height: 2rem;
        font-family: "TelegrafBolder";
        color: #fff;
        text-align: left;
    }
    .filters-wrapper {
        border-top: 1px solid rgba(255, 255, 255, 0.16);
        border-bottom: 1px solid rgba(255, 255, 255, 0.16);
        margin: 1.5rem 0;
        display: flex;
        color: rgba(255, 255, 255, 0.5);
        font-family: "TelegrafMedium";
        font-style: normal;
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 1.25rem;
        padding: 1rem 0;

        .separator {
            margin: 0 0.25rem;
        }
        .filter {
            cursor: pointer;
        }
        .activeFilter {
            color: #fff;
        }
    }
    .contribution-type-row {
        display: flex;
        justify-content: space-between;
        position: relative;
        font-size: 1rem;
        line-height: 1.5rem;
        font-family: "TelegrafMedium";
        color: #fff;
        margin-bottom: 0.5rem;
    }
    .contribution-background {
        position: absolute;
        left: 0;
        height: 100%;
        // border-radius: 1rem;
        // width: 50%;
    }
    .contribution-type {
        position: relative;
        padding: 0.25rem 0;
        text-transform: capitalize;
    }
    .value {
        position: relative;
        color: rgba(255, 255, 255, 0.5);
        padding: 0.25rem 0;
    }
}
