.pocp-signup-container {
    &.container {
        width: 100%;
    }
    .secondary-text {
        font-family: "TelegrafBolder";
        font-style: normal;
        font-weight: normal;
        font-size: 3.313rem;
        line-height: 3.5rem;
        color: #a1a0a1;
        margin-bottom: 4rem;
    }
    .pocp-banner {
        padding: 2.5rem 2.5rem 2rem 2.5rem;
        background-color: #6852ff;
        width: 100%;
        border-radius: 2.25rem;
    }

    .banner-heading {
        color: white;
        font-family: "TelegrafBolder";
        font-style: normal;
        font-weight: 800;
        font-size: 2.75rem;
        line-height: 3.25rem;
    }

    .banner-para {
        font-family: "TelegrafMedium";
        font-style: normal;
        font-weight: normal;
        font-size: 1.75rem;
        line-height: 2.25rem;
        color: white;
        margin-top: 0.5rem;
    }

    .banner-btn-div {
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 3.25rem;
    }

    .signup-btn {
        padding: 0.75rem 1.25rem;
        box-shadow: 0px 3px 8px rgba(40, 44, 63, 0.08);
        border-radius: 1.5rem;
        background-color: white;
        cursor: pointer;
    }
    .signup-btn > div {
        color: #6852ff;
        font-family: "TelegrafMedium";
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .skip-btn {
        cursor: pointer;
        text-decoration: underline;
        color: white;
        font-family: "TelegrafMedium";
        font-style: normal;
        font-weight: normal;
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .lottie-confetti {
        height: 40%;
        width: 60%;
        position: absolute;
        top: 0;
    }
}
